h1 {
	font-size: 60px;
	text-align: center;
	color: blue;
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 1px black;
}

p, li {
	font-size: 16px;
	line-height: 2px;
	letter-spacing: 1px;
}

img.me {
	display: block;
	max-width: 50%;
	max-height: 50%;
	margin: auto;
}
h2, li {
	text-align: center;
}