html {
	font-size: 18px;
	font-family: 'Helvetica LT Std', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
	color: blue;
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 1px black;
}

img.me {
	display: block;
	max-width: 50%;
	max-height: 50%;
	margin: auto;
}
h2 {
	text-align: center;
}

div {
	text-align: center;
}

ul {
	display: inline-block;
	text-align: left;
}