html { /*Changing the font to something easier to see*/
	font-size: 18px;
	font-family: 'Songti';
}


h1 { /*Centering and enlarging the heading, also adding colors and effects*/
	font-size: 60px;
	text-align: center;
	color: white;
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 1px black;
}


img.me { /*Centering the image and sizing it to the page*/
	display: block;
	max-width: 50%;
	max-height: 50%;
	margin: auto;
}


h2 { /*Centering the list heading*/
	text-align: center;
}


.skillList { /*Added <div> tag to allow centering of child elements*/
	text-align: center;
}


ul { /*Centered list*/
	display: inline-block;
	text-align: left;
}

.odd {
	text-align: left;
}

.even {
	text-align: right;
}

p {
	color: greenyellow;
}